.curse {
	text-align:center;
	padding-bottom:10px;
}

.black {
	width:100%;
	background-color: black;
	margin: 30px 0;
	padding: 30px 0;
	color: white;
}

.cursetext{
	padding:10px 0 10px 50px;
	margin-right:20%;
}

.cursetext2{
	text-align: right;
	margin-right:10%;
	padding:10px 0 10px 50px;
	text-align: right;
}

.curseimage{
    padding: 0;
    position: relative;
    width:45%;
	left:20%;
    height:400px;
}

.curseimage img{
    position: absolute;
    left:120%;
    top:20%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
	float: right;
	border-radius: 10px;
}

.curseimage2{
    padding: 0;
    position: relative;
    width:45%;
    height:400px;
}

.curseimage2 img{
    position: absolute;
    left:60%;
    top:20%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
	float: right;
	border-radius: 10px;
}
.frame {
	width:100%;
	padding: 20px 0 50px 0;
}

.curses table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
text-align: left;
border-collapse: collapse;
border-radius: 20px;
box-shadow: 0 0 0 10px #E99813;
color: linear-gradient(#F3AE0F, #E38916) #E38916;
width:100%;
border-color: #FDBE33 #000 #D77206;
}
.curses th {
padding: 10px 8px;
background: white;
}
.curses td {
border-top: 10px solid #F2906B;
padding: 8px;
background: white;
}

.cursest table img{
	width:90%;
	max-height:300px;
	margin: auto;
	text-align: center;
}

.frameimage {
	margin: auto;
	text-align: center;
}

.fdesc {
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  text-align:center;
}

table a {
	color:black;
	text-decoration: none;
}

.versionone a {
	color:black;
	text-decoration: none;
}
	
.versiontwo a {
	color:white;
	text-decoration: none;
}

.frame a{
    color:black;
	text-decoration: none;
}

.curse {
	padding: 30px 0;
}

.curse img{
	width:100%;
	height:400px;
}

.curse1 {
	width:250px;
	height:300px;
	background-color: #81c1fc;
}

.curse2 {
	width:250px;
	height:300px;
	background-color: #b089c7;
}

.curse3 {
	width:250px;
	height:300px;
	background-color: #a9aaab;
}

.сheader {
	font-size: 24px;
	font-weight: normal;
}

table#cursetable th{
	padding-left:150px;
	padding-bottom:20px;
}

.cheader{
	padding-top: 5px;
}

.cdesc{
	font-weight:normal;
	text-align: left;
	padding: 50px 10px;
}

.imgtext {
	position: absolute;
	top: 375px;
	left: 0;
	width: 100%;
	color:white;
	font-size:30px;
	font-weight:bold;
}

.cdescrip {
	max-width:600px;
}

.cdescrip2 {
	position: relative;
	max-width:600px;
	left:55%;
}

.curseblock:hover {
background: #808080;
}

.program {
	max-width:80%;
	margin:auto;
	padding-bottom:50px;
}

.program li{
	padding: 10px 0;
}